
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

src/Interactor/Experimental
*.o
*~
*.particles
*.pbc
*.gdr
*.bak
gdrDATA
bin/*
kk*
src/uammd
src/aradillo.*
star*
armadillo*
\#*


