
# Ignore all
*

# Unignore all with extensions
!*.*
!Makefile
# Unignore all dirs
!*/

src/Interactor/Experimental
*.o
a.out
*~
*.particles
*.pbc
*.gdr
*.bak
gdrDATA
bin/*
kk*
src/uammd
src/aradillo.*
star*
armadillo*
*.nvvp
\#*


